#ak {
  .facts {
    background: url(../../img/hme_numeralia.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 120%;
    .section-overlay {
      background-color: $color-21;
      padding: 110px 0 180px;
    }
    h4 {
      font-weight: normal;
      font-family: $font-family-base;
    }
    .fact-badges {
      margin-top: 65px;
      text-align: center;

      h2 {
        color: $orange;
        font-family: $font-family-base-monserrat;
        font-weight: 300;
        font-size: 3.4rem;
        .badges-counter {
        }
      }

      .item::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1px;
        width: 100px;
        border-bottom: 1px solid $color-22;
      }
    }
  }
  .team {
    h4 {
      font-weight: normal;
      font-family: $font-family-base;
    }

    #quote-carousel {
      margin-top: 50px;
      color: #fff;
      hr {
        border-top: 1px solid #fff;
      }

      h6 {
        color: #fff;
      }
      blockquote {
        padding: 0;
        text-align: center;
        font-size: 1rem;
        border: none;
      }
      p {
        font-style: italic;
        color: $white;
        font-size: 1.067rem;
        &:before,
        &:after {
          font-family: "FontAwesome";
        }
        &:before {
          margin-right: 20px;
          content: "\f10d";
        }
        &:after {
          margin-left: 20px;
          content: "\f10e";
        }
      }

      h5 {
        margin: 20px 0 10px;
        font-size: 1.6rem;
        font-weight: normal;
        color: $orange;
      }
      h6 {
        font-family: $font-family-base;
        font-weight: 600;
        margin: 0;
        font-size: 16px;
        text-transform: capitalize;
      }
      .img-fluid {
        margin: 0 auto 25px;
        border: 6px solid $color-bg-3;
        background: $color-bg-3;
      }
      .carousel-indicators {
        bottom: -40px;
        li {
          background: #fff;
          display: inline-block;
          width: 10px;
          height: 10px;
          margin: 2px;
          text-indent: -999px;
          cursor: pointer;
          border-radius: 50%;

          &.active {
            width: 12px;
            height: 12px;
            margin-top: 1px;
          }
        }
      }
    }
  }
  .services {
    h4 {
      font-weight: normal;
      font-family: $font-family-base;
    }
  }
  .contactform {
    color: $white;
    background: url(../../img/hme_contacto.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 120%;
    h4 {
      font-weight: normal;
      font-family: $font-family-base;
    }
    .section-overlay {
      background-color: $color-21;
      padding: 120px;
    }
  }

  .section-overlay {
    background-color: $color-21;
    padding: 110px 0;
  }
}
